﻿@page
@using Projekti_dev.Models

<h2>Lista e Donatoreve</h2>


    <div>
        <p>Nr Donatoreve :@ViewBag.donatoret</p>
    </div>

    <div>
        <p>Totoali  : @ViewBag.vlera</p>
    </div>


@(Html.DevExtreme().DataGrid<Projekti_dev.Models.DevExpresss>
    ()
    .ID("gridContainer")


    .Editing(e => e.Mode(GridEditMode.Popup)
    .AllowUpdating(false)
    .AllowAdding(false)
    .AllowDeleting(false)
    .Popup(p => p
    .Title("Donatori Info")
    .ShowTitle(true)
    .Width(700)
    .Height(525)

    )
    .Form(f => f.Items(items => {
    items.AddGroup()
    .ColCount(2)
    .ColSpan(2)
    .Items(groupItems => {
    groupItems.AddSimpleFor(m => m.Qyteti);
    groupItems.AddSimpleFor(m => m.Shteti);
    groupItems.AddSimpleFor(m => m.Donatori);
    groupItems.AddSimpleFor(m => m.NrDonatoreve);
    groupItems.AddSimpleFor(m => m.Vlera);
    groupItems.AddSimpleFor(m => m.Data);

    //groupItems.AddSimpleFor(m => m.Notes)
    //    .ColSpan(2)
    //    .Editor(editor => editor.TextArea().Height(100));
    });

    //items.AddGroup()
    //    .Caption("Home Address")
    //    .ColCount(2)
    //    .ColSpan(2)
    //    .Items(groupItems => {
    //        groupItems.AddSimpleFor(m => m.StateID);
    //        groupItems.AddSimpleFor(m => m.Address);
    //    });
    }))
    )

    .Columns(columns =>
    {
    columns.AddFor(m => m.Id).Width(80);

    columns.AddFor(m => m.Donatori);

    columns.AddFor(m => m.NrDonatoreve);

    columns.AddFor(m => m.Qyteti);

    columns.AddFor(m => m.Shteti);

    columns.AddFor(m => m.Data);

    columns.AddFor(m => m.Vlera);

    columns.AddFor(m => m.Viti).SortOrder(SortOrder.Desc)
    .GroupIndex(0);

    columns.AddFor(m => m.Muaji)
    .GroupIndex(0);


    })

    .AllowColumnReordering(true)
    .ShowBorders(true)
    .Grouping(grouping => grouping.AutoExpandAll(true))
    .SearchPanel(searchPanel => searchPanel.Visible(false))
    .GroupPanel(groupPanel => groupPanel.Visible(true))
    .Sorting(sorting => sorting.Mode(GridSortingMode.None))
    .Paging(paging => paging.Enabled(true))
    .Paging(paging => paging.PageSize(20))

    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .DataSource(d => d.Mvc().Controller("SampleData")
    .LoadAction("GetForView")
    .InsertAction("Post")
    .UpdateAction("Put")
    .DeleteAction("Delete")
    .Key("Id"))
    .Summary(s => s
    .TotalItems(totalItems =>
    {
    totalItems.AddFor(m => m.Vlera).SummaryType(SummaryType.Sum);
    })
    .TotalItems(totalItems =>
    {
    totalItems.AddFor(m => m.Id).SummaryType(SummaryType.Count);
    })

    .GroupItems(groupItems =>
    {
    groupItems.AddFor(m => m.Vlera).SummaryType(SummaryType.Sum);



    })



    )

    )

<div class="options">
    <div class="caption">Options</div>
    <div class="option">
        @(Html.DevExtreme().CheckBox()
            .ID("autoExpand")
            .Text("Expand All Groups")
            .Value(true)
            .OnValueChanged(@<text>
                function(data) {
                var dataGrid = $("#gridContainer").dxDataGrid("instance");
                dataGrid.option("grouping.autoExpandAll", data.value);
                }
            </text>)
            )
    </div>
</div>





@*@(Html.DevExtreme().DataGrid<SampleOrder>
    ()
    .ShowBorders(true)
    .DataSource(d => d.Mvc().Controller("SampleData").LoadAction("Get").Key("OrderID"))
    .Columns(columns => {
    columns.AddFor(m => m.OrderID);
    columns.AddFor(m => m.OrderDate);
    columns.AddFor(m => m.CustomerName);
    columns.AddFor(m => m.ShipCountry);
    columns.AddFor(m => m.ShipCity);
    })
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .GroupPanel(p => p.Visible(true))
    .Grouping(g => g.AutoExpandAll(false))
    .RemoteOperations(true)
    .Summary(s => s
    .TotalItems(totalItems => {
    totalItems.AddFor(m => m.ShipCity).SummaryType(SummaryType.Count);
    })
    .GroupItems(groupItems => {
    groupItems.Add().SummaryType(SummaryType.Count);
    })
    )
    )*@


dfdfdf